<h1 class="text-center">Editar Correntista</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @correntistum, class:"btn btn-primary" %> |
<%= link_to 'Voltar', correntista_path, class:"btn btn-inverse" %>
