<h1 class="text-center">Editar Transação</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @transacao, class:"btn btn-primary" %> |
<%= link_to 'Voltar', transacaos_path, class:"btn btn-inverse" %>
